In [1]:
import sys
import pandas as pd
import numpy as np

sys.path.append('../../globalfunction')  # setting path
import globalfunction.vv as vv  # importing
import globalfunction.pp as pp  # importing

In [2]:
df_engineer = vv.quick_data(no_cuts=True,publish=True,early_duplicates=True)

print(df_engineer.shape)
df_engineer.head()

remove duplicates: 20925/29984/22089/24047 ==> 20925/20520/18445/20297
dataframe length: 20255
(20255, 146)

,Description,Price,add_info,date_scraped,distance_to_any_train,type,bedrooms,bathrooms,size,other_key_info,...,analyticsProperty.propertyType,analyticsProperty.retirement,analyticsProperty.selectedCurrency,analyticsProperty.selectedPrice,analyticsProperty.soldSTC,analyticsProperty.videoProvider,analyticsProperty.viewType,Unnamed: 46,floorplan_count,borough_name
ids,,,,,,,,,,,,,,,,,,,,,
119380301,1 bedroom apartment for sale,585000.0,"Added on 01/02/2022 by MyLondonHome, Central L...",2022-07-03 19:38:39,0.4,Apartment,1.0,1.0,539 sq. ft.;(50 sq. m.),NaN,...,Flats / Apartments,False,NaN,NaN,False,No Video,Current,NaN,NaN,Hounslow
85089531,3 bedroom semi-detached house for sale,585000.0,"Reduced on 01/07/2022 by Stirling Ackroyd, Whi...",2022-07-03 19:38:40,0.6,Semi-Detached,3.0,1.0,NaN,NaN,...,Houses,False,NaN,NaN,False,No Video,Current,NaN,NaN,Hounslow
122728412,4 bedroom semi-detached house for sale,585000.0,"Added on 22/04/2022 by Foxtons, Covering Hounslow",2022-07-03 19:38:40,0.5,Semi-Detached,4.0,1.0,"1,912 sq. ft.;(178 sq. m.)",NaN,...,Houses,False,NaN,NaN,False,No Video,Current,NaN,NaN,Hounslow
123588773,4 bedroom flat for sale,585000.0,"Added on 23/05/2022 by Rolfe East, Acton",2022-07-03 19:38:40,0.6,Flat,4.0,1.0,NaN,NaN,...,Flats / Apartments,False,NaN,NaN,False,No Video,Current,NaN,NaN,Hounslow
96584980,2 bedroom apartment for sale,585000.0,"Added on 19/05/2022 by JOHNS&CO, Brentford",2022-07-03 19:38:40,0.4,Apartment,2.0,2.0,NaN,NaN,...,Flats / Apartments,False,NaN,NaN,False,No Video,Current,NaN,NaN,Hounslow

In [3]:
df_engineer.iloc[0, :]

Description                                             1 bedroom apartment for sale
Price                                                                       585000.0
add_info                           Added on 01/02/2022 by MyLondonHome, Central L...
date_scraped                                                     2022-07-03 19:38:39
distance_to_any_train                                                            0.4
                                                         ...
analyticsProperty.videoProvider                                             No Video
analyticsProperty.viewType                                                   Current
Unnamed: 46                                                                      NaN
floorplan_count                                                                  NaN
borough_name                                                                Hounslow
Name: 119380301, Length: 146, dtype: object

### Make list of all the columns I've reviewed

In [4]:
sections = [pp.potential, pp.useful_numeric, pp.engineerable_numeric, pp.countable_numeric, pp.useful_non_numeric, pp.boolean, pp.categorical, pp.engineerable_text,
            pp.engineerable, pp.long_text, pp.redundancies, pp.commercial, pp.admin, pp.gdpr, pp.ids,
            pp.uninteresting, pp.last]
section_names = ["potential", "useful_numeric", "engineerable_numeric", "countable_numeric", "useful_non_numeric", "boolean", "categorical", "engineerable_text", "engineerable",
                 "long_text", "redundancies", "commercial", 'admin','gdpr','ids'
                 "uninteresting", "last"]

section_list = []
for each in sections:
    #print(each)
    for key, values in each.items():
        #print("   ",key)
        #print("       ",value)
        section_list.append(key)
        section_list.extend(values)
#section_list


### Are any columns unaccounted for?

In [5]:
all_columns = df_engineer.columns.to_numpy()
print(type(all_columns))
each = None
print(len(all_columns), each)

#for each in section_list:
all_columns = [a for a in all_columns if a not in section_list]
print(len(all_columns), each)

#all_columns = [all_columns[ (each not in all_columns)]
#	print(len(all_columns), each)
#	all_columns.pop(each)
all_columns

<class 'numpy.ndarray'>
146 None
3 None

['auctionProvider.endDate',
 'auctionProvider.auctionTimeRemaining',
 'auctionProvider.bid']

In [6]:
df_engineer

for each in pp.useful_numeric:
    print(each)
    print(df_engineer[each])

location.latitude
ids
119380301          NaN
85089531           NaN
122728412          NaN
123588773          NaN
96584980           NaN
               ...
96654763     51.383175
96654973     51.425121
96655021     51.420468
97404863     51.369314
97494416     51.355790
Name: location.latitude, Length: 20255, dtype: float64
location.longitude
ids
119380301         NaN
85089531          NaN
122728412         NaN
123588773         NaN
96584980          NaN
               ...
96654763    -0.157464
96654973    -0.189844
96655021    -0.139815
97404863    -0.229459
97494416    -0.190990
Name: location.longitude, Length: 20255, dtype: float64
distance_to_any_train
ids
119380301    0.4
85089531     0.6
122728412    0.5
123588773    0.6
96584980     0.4
            ...
96654763     0.4
96654973     0.0
96655021     0.2
97404863     0.9
97494416     0.3
Name: distance_to_any_train, Length: 20255, dtype: float64
Price
ids
119380301    585000.0
85089531     585000.0
122728412    585000.0
123588773    585000.0
96584980     585000.0
               ...
96654763     500000.0
96654973     650000.0
96655021     675000.0
97404863     175000.0
97494416     120000.0
Name: Price, Length: 20255, dtype: float64
bedrooms_model
ids
119380301    NaN
85089531     NaN
122728412    NaN
123588773    NaN
96584980     NaN
            ...
96654763     3.0
96654973     3.0
96655021     3.0
97404863     1.0
97494416     1.0
Name: bedrooms_model, Length: 20255, dtype: float64
bathrooms_model
ids
119380301    NaN
85089531     NaN
122728412    NaN
123588773    NaN
96584980     NaN
            ...
96654763     1.0
96654973     2.0
96655021     2.0
97404863     1.0
97494416     1.0
Name: bathrooms_model, Length: 20255, dtype: float64
analyticsProperty.imageCount
ids
119380301     6.0
85089531     18.0
122728412     9.0
123588773    11.0
96584980      6.0
             ...
96654763     32.0
96654973      8.0
96655021      8.0
97404863     14.0
97494416      9.0
Name: analyticsProperty.imageCount, Length: 20255, dtype: float64
analyticsProperty.added
ids
119380301    20220201.0
85089531     20220429.0
122728412    20220422.0
123588773    20220523.0
96584980     20220519.0
                ...
96654763     20220530.0
96654973     20220530.0
96655021     20220530.0
97404863     20200919.0
97494416     20200921.0
Name: analyticsProperty.added, Length: 20255, dtype: float64
floorplan_count
ids
119380301    NaN
85089531     NaN
122728412    NaN
123588773    NaN
96584980     NaN
            ...
96654763     8.0
96654973     4.0
96655021     4.0
97404863     4.0
97494416     4.0
Name: floorplan_count, Length: 20255, dtype: float64

In [7]:
df_engineer


def display_column(index):
    #df_engineer[useful_numeric[index]]
    #return useful_numeric[useful_numeric.keys().get(index)]
    l = list(pp.useful_numeric)
    return df_engineer[l[index]]


iterator_index = -1
section__value_count_index = -1
section_describe_index = -1
section_isnull_index = -1

In [8]:
section__value_count_index = (section__value_count_index + 1) % len(sections)
column = display_column(section__value_count_index)
column.value_counts()

51.581933    30
51.485270    17
51.508650    14
51.596550    13
51.535760    13
             ..
51.601215     1
51.593373     1
51.600230     1
51.599468     1
51.420468     1
Name: location.latitude, Length: 15329, dtype: int64

In [9]:
section_describe_index = (section_describe_index + 1) % len(sections)
df_engineer[sections[section_describe_index]].describe()

/tmp/ipykernel_3744/1038519996.py:2: FutureWarning: Passing a dict as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_engineer[sections[section_describe_index]].describe()

,tenure.yearsRemainingOnLease,sharedOwnership.ownershipPercentage,livingCosts.annualGroundRent,livingCosts.groundRentReviewPeriodInYears,livingCosts.groundRentPercentageIncrease,livingCosts.annualServiceCharge
count,1203.000000,6.000000,47.000000,13.000000,6.0,61.000000
mean,283.457190,49.166667,154.936170,82.307692,0.0,1186.573115
std,340.123725,16.857244,155.486251,275.623954,0.0,1023.081541
min,0.000000,25.000000,0.000000,0.000000,0.0,0.000000
25%,100.000000,40.000000,10.000000,0.000000,0.0,100.000000
50%,121.000000,50.000000,150.000000,0.000000,0.0,1188.000000
75%,239.000000,60.000000,250.000000,21.000000,0.0,1756.800000
max,999.000000,70.000000,700.000000,999.000000,0.0,3694.000000

In [10]:
def data_across_columns_across_sections(which_data='nulls', show_alternatives=False):
    global section_isnull_index
    section_isnull_index = (section_isnull_index + 1) % len(sections)

    keyvalues = sections[section_isnull_index]
    list_plus = []
    for key, value in keyvalues.items():
        #print(key)
        list_plus.append(key)
        if show_alternatives:
            list_plus.extend(value)

    if which_data == 'nulls':
        print(f'IS NULL for {section_names[sections.index(keyvalues)]} -> ({section_isnull_index + 1}/{len(sections)} [total={len(df_engineer)}])')
        return df_engineer[list_plus].isnull().sum()
    elif which_data == 'describe':
        print(f'DESCRIBE for {section_names[sections.index(keyvalues)]} -> ({section_isnull_index + 1}/{len(sections)} [total={len(df_engineer)}])')
        return df_engineer[list_plus].describe()
    elif which_data == 'count':
        print(f'VALUE COUNTS for {section_names[sections.index(keyvalues)]} -> ({section_isnull_index + 1}/{len(sections)} [total={len(df_engineer)}])')
        return df_engineer[list_plus].value_counts()
    elif which_data == 'dataframe':
        print(f'DATAFRAME for {section_names[sections.index(keyvalues)]} -> ({section_isnull_index + 1}/{len(sections)} [total={len(df_engineer)}])')
        return df_engineer[list_plus]


#data_across_columns_across_sections(show_alternatives=False)
data_across_columns_across_sections(show_alternatives=False, which_data='dataframe')

DATAFRAME for potential -> (1/17 [total=20255])

,rooms,tenure.yearsRemainingOnLease,tenure.message,sharedOwnership.sharedOwnership,sharedOwnership.ownershipPercentage,livingCosts.annualGroundRent,livingCosts.groundRentReviewPeriodInYears,livingCosts.groundRentPercentageIncrease,livingCosts.annualServiceCharge,livingCosts.councilTaxBand,analyticsBranch.brandName,analyticsProperty.auctionOnly,images
ids,,,,,,,,,,,,,
119380301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MyLondonHome,False,NaN
85089531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stirling Ackroyd,False,NaN
122728412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foxtons,False,NaN
123588773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rolfe East,False,NaN
96584980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JOHNS&CO,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96654763,[],NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,Paul Graham,False,[{'url': 'https://media.rightmove.co.uk/31k/30...
96654973,[],NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,Dexters,False,[{'url': 'https://media.rightmove.co.uk/85k/84...
96655021,[],NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,Dexters,False,[{'url': 'https://media.rightmove.co.uk/101k/1...
97404863,"[{'name': 'Entrance Hall', 'description': None...",NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,Andrews Estate Agents,False,[{'url': 'https://media.rightmove.co.uk/5k/456...
97494416,[],NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,Barnard Marcus,False,[{'url': 'https://media.rightmove.co.uk/2k/193...

In [13]:
df_engineer[
    ['analyticsProperty.maxSizeAc', 'analyticsProperty.maxSizeFt', 'analyticsProperty.minSizeAc', 'analyticsProperty.minSizeFt', 'date_scraped',
     'date_scraped_meta']][df_engineer['analyticsProperty.maxSizeAc'].notnull()]

,analyticsProperty.maxSizeAc,analyticsProperty.maxSizeFt,analyticsProperty.minSizeAc,analyticsProperty.minSizeFt,date_scraped,date_scraped_meta
ids,,,,,,
119380301,0.012374,539.0,0.012374,539.0,2022-07-03 19:38:39,2022-07-03 19:49:16
122728412,0.043893,1912.0,0.043893,1912.0,2022-07-03 19:38:40,2022-07-03 19:43:20
124210436,0.012466,543.0,0.012466,543.0,2022-07-03 19:38:42,2022-07-03 19:39:26
118700414,0.018939,825.0,0.018939,825.0,2022-07-03 19:38:40,2022-07-03 19:45:12
114175946,0.033609,1464.0,0.033609,1464.0,2022-07-03 19:38:40,2022-07-03 19:44:25
...,...,...,...,...,...,...
96594331,0.018411,802.0,0.018411,802.0,NaN,2022-06-26 10:40:29
96634957,0.017424,759.0,0.017424,759.0,NaN,2022-06-26 14:14:15
96639031,0.014325,624.0,0.014325,624.0,NaN,2022-06-26 14:14:37
96650071,0.034343,1496.0,0.034343,1496.0,NaN,2022-06-26 14:16:10
96651034,0.028765,1253.0,0.028765,1253.0,NaN,2022-06-26 14:16:24

In [14]:
print(len(df_engineer))
new_df_engineer = df_engineer.copy()
#new_df_engineer.set_index("ids", inplace=True)
new_df_engineer = new_df_engineer[~new_df_engineer.index.duplicated(keep='last')]
print(len(new_df_engineer))

20255
20255