In [10]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
import sys
sys.path.append('../../globalfunction')  # setting path
import globalfunction.vv as vv  # importing
import globalfunction.pp as pp  # importing

import pandas as pd

In [11]:
df_original = vv.quick_data(separate_Xy=False,no_cuts=True,
                  numeric_values_only=False, nans_forbidden=False,remove_duplicates=True)
#X, y = quick_data(separate_Xy=True,
#                  numeric_values_only=True, nans_forbidden=True, exceptional_nans=['bedrooms', 'bathrooms'])
print(df_original.shape)
df_original.head()

/media/sf_shared_files/Springboard_III/capstone_prep/globalfunction/vv.py:39: DtypeWarning: Columns (23,25,26,28,31,32,40,44,47,51,54,56,59,60,61,62,63,64,74,78,79,80,82,83,84,85,86) have mixed types. Specify dtype option on import or set low_memory=False.
  df_json = pd.read_csv(vv.LISTING_JSON_MODEL_FILE)

(26254, 161)

,ids,Links,Address,Description,Price,version,borough,referencing_link,add_info,date_scraped,...,analyticsProperty.propertySubType,analyticsProperty.propertyType,analyticsProperty.retirement,analyticsProperty.selectedCurrency,analyticsProperty.selectedPrice,analyticsProperty.soldSTC,analyticsProperty.videoProvider,analyticsProperty.viewType,analyticsProperty.customUri,Unnamed: 46
0,123171899,https://www.rightmove.co.uk/properties/1231718...,"Springbank, London",3 bedroom apartment for sale,475000.0,v0021_220622,"('Enfield', '5E93950')",https://www.rightmove.co.uk/property-for-sale/...,"Added on 09/05/2022 by haart, Southgate",2022-06-26 20:35:34,...,Apartment,Flats / Apartments,False,NaN,NaN,False,Embedded,Current,https://www.rightmove.co.uk/property-for-sale/...,NaN
1,85461000,https://www.rightmove.co.uk/properties/8546100...,"Bullsmoor Way, Waltham Cross, EN8",3 bedroom terraced house for sale,375000.0,v0021_220622,"('Enfield', '5E93950')",https://www.rightmove.co.uk/property-for-sale/...,"Reduced on 17/03/2022 by Christopher Stokes, C...",2022-06-26 20:35:34,...,Terraced,Houses,False,NaN,NaN,False,No Video,Current,https://www.rightmove.co.uk/property-for-sale/...,NaN
2,85461000,https://www.rightmove.co.uk/properties/8546100...,"Bullsmoor Way, Waltham Cross, EN8",3 bedroom terraced house for sale,375000.0,v0021_220622,"('Enfield', '5E93950')",https://www.rightmove.co.uk/property-for-sale/...,"Reduced on 17/03/2022 by Christopher Stokes, C...",2022-06-26 20:35:34,...,Terraced,Houses,False,NaN,NaN,False,No Video,Current,https://www.rightmove.co.uk/property-for-sale/...,NaN
3,85461000,https://www.rightmove.co.uk/properties/8546100...,"Bullsmoor Way, Waltham Cross, EN8",3 bedroom terraced house for sale,375000.0,v0021_220622,"('Enfield', '5E93950')",https://www.rightmove.co.uk/property-for-sale/...,"Reduced on 17/03/2022 by Christopher Stokes, C...",2022-06-26 20:35:34,...,Terraced,Houses,False,NaN,NaN,False,No Video,Current,https://www.rightmove.co.uk/property-for-sale/...,NaN
4,85461000,https://www.rightmove.co.uk/properties/8546100...,"Bullsmoor Way, Waltham Cross, EN8",3 bedroom terraced house for sale,375000.0,v0021_220622,"('Enfield', '5E93950')",https://www.rightmove.co.uk/property-for-sale/...,"Reduced on 17/03/2022 by Christopher Stokes, C...",2022-06-26 20:35:34,...,Terraced,Houses,False,NaN,NaN,False,No Video,Current,https://www.rightmove.co.uk/property-for-sale/...,NaN

In [12]:
vv.quick_data(no_cuts=True).iloc[0,:]

/media/sf_shared_files/Springboard_III/capstone_prep/globalfunction/vv.py:39: DtypeWarning: Columns (23,25,26,28,31,32,40,44,47,51,54,56,59,60,61,62,63,64,74,78,79,80,82,83,84,85,86) have mixed types. Specify dtype option on import or set low_memory=False.
  df_json = pd.read_csv(vv.LISTING_JSON_MODEL_FILE)

ids                                                                        123171899
Links                              https://www.rightmove.co.uk/properties/1231718...
Address                                                           Springbank, London
Description                                             3 bedroom apartment for sale
Price                                                                       475000.0
                                                         ...
analyticsProperty.soldSTC                                                      False
analyticsProperty.videoProvider                                             Embedded
analyticsProperty.viewType                                                   Current
analyticsProperty.customUri        https://www.rightmove.co.uk/property-for-sale/...
Unnamed: 46                                                                      NaN
Name: 0, Length: 161, dtype: object

In [62]:
cols = ['ids']
cols.extend(pp.useful_numeric)
df = df_original[cols]
df.set_index("ids", inplace=True)
df

,location.latitude,location.longitude,Station_Prox,Price,bedrooms,bathrooms,analyticsProperty.imageCount,analyticsProperty.added
ids,,,,,,,,
123171899,51.639738,-0.111822,0.6,475000.0,3.0,2.0,18,20220509
85461000,51.680699,-0.045830,0.6,375000.0,3.0,1.0,12,20220607
85461000,51.680699,-0.045830,0.6,375000.0,3.0,1.0,12,20220607
85461000,51.680699,-0.045830,0.6,375000.0,3.0,1.0,12,20220607
85461000,51.680699,-0.045830,0.6,375000.0,3.0,1.0,12,20220607
...,...,...,...,...,...,...,...,...
96655021,51.420468,-0.139815,0.2,675000.0,3.0,2.0,8,20220530
97404863,51.369314,-0.229459,0.9,175000.0,1.0,1.0,14,20200919
97404863,51.369314,-0.229459,0.9,175000.0,1.0,1.0,14,20200919
97494416,51.35579,-0.190990,0.3,120000.0,1.0,1.0,9,20200921
97494416,51.35579,-0.190990,0.3,120000.0,1.0,1.0,9,20200921

In [63]:
print(df.shape)
df = df[~df.index.duplicated(keep='last')]
print(df.shape)
df.head()

(26254, 8)
(10161, 8)

,location.latitude,location.longitude,Station_Prox,Price,bedrooms,bathrooms,analyticsProperty.imageCount,analyticsProperty.added
ids,,,,,,,,
123171899,51.639738,-0.111822,0.6,475000.0,3.0,2.0,18,20220509
85461000,51.680699,-0.045830,0.6,375000.0,3.0,1.0,12,20220607
85174740,51.678833,-0.029207,0.4,375000.0,2.0,1.0,17,20220505
124007903,51.630846,-0.125552,0.2,375000.0,2.0,1.0,9,20220617
85614570,51.620688,-0.112003,0.2,375000.0,1.0,1.0,18,20220611

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10161 entries, 123171899 to 97494416
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   location.latitude             10158 non-null  object
 1   location.longitude            10158 non-null  float64
 2   Station_Prox                  10161 non-null  float64
 3   Price                         10161 non-null  object
 4   bedrooms                      9758 non-null   float64
 5   bathrooms                     9455 non-null   float64
 6   analyticsProperty.imageCount  10142 non-null  object
 7   analyticsProperty.added       10142 non-null  object
dtypes: float64(4), object(4)
memory usage: 714.4+ KB

In [65]:
#df_original["Price"] = pd.to_numeric(df_original["Price"], 'coerce').fillna(-1).astype(bool)
df["Price"] = pd.to_numeric(df["Price"], 'coerce').dropna().astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10161 entries, 123171899 to 97494416
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   location.latitude             10158 non-null  object
 1   location.longitude            10158 non-null  float64
 2   Station_Prox                  10161 non-null  float64
 3   Price                         10140 non-null  float64
 4   bedrooms                      9758 non-null   float64
 5   bathrooms                     9455 non-null   float64
 6   analyticsProperty.imageCount  10142 non-null  object
 7   analyticsProperty.added       10142 non-null  object
dtypes: float64(5), object(3)
memory usage: 714.4+ KB

/tmp/ipykernel_6752/2731587547.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Price"] = pd.to_numeric(df["Price"], 'coerce').dropna().astype(int)

In [66]:
df[
    #['Address', 'analyticsProperty.maxSizeAc', 'analyticsProperty.maxSizeFt', 'analyticsProperty.minSizeAc', 'analyticsProperty.minSizeFt', 'date_scraped', 'date_scraped_model',     'date_scraped_model', 'date_scraped_meta']]
    #df['location.latitude'].notnull()]
    df['location.latitude'].isnull()]

,location.latitude,location.longitude,Station_Prox,Price,bedrooms,bathrooms,analyticsProperty.imageCount,analyticsProperty.added
ids,,,,,,,,
111247943,NaN,NaN,0.3,290000.0,3.0,1.0,15,20210731
121284314,NaN,NaN,0.5,600000.0,3.0,1.0,17,20220319
122172239,NaN,NaN,0.4,185000.0,NaN,1.0,14,20220408

In [67]:
print(df.shape)
df["location.latitude"] = pd.to_numeric(df["location.latitude"], 'coerce').dropna().astype(int)
df["analyticsProperty.imageCount"] = pd.to_numeric(df["analyticsProperty.imageCount"], 'coerce').dropna().astype(int)
df["analyticsProperty.added"] = pd.to_numeric(df["analyticsProperty.added"], 'coerce').dropna().astype(int)
print(df.shape)
df.info()

/tmp/ipykernel_6752/1910238512.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["location.latitude"] = pd.to_numeric(df["location.latitude"], 'coerce').dropna().astype(int)

(10161, 8)
(10161, 8)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 10161 entries, 123171899 to 97494416
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   location.latitude             10155 non-null  float64
 1   location.longitude            10158 non-null  float64
 2   Station_Prox                  10161 non-null  float64
 3   Price                         10140 non-null  float64
 4   bedrooms                      9758 non-null   float64
 5   bathrooms                     9455 non-null   float64
 6   analyticsProperty.imageCount  10141 non-null  float64
 7   analyticsProperty.added       10141 non-null  float64
dtypes: float64(8)
memory usage: 714.4 KB

/tmp/ipykernel_6752/1910238512.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["analyticsProperty.imageCount"] = pd.to_numeric(df["analyticsProperty.imageCount"], 'coerce').dropna().astype(int)
/tmp/ipykernel_6752/1910238512.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["analyticsProperty.added"] = pd.to_numeric(df["analyticsProperty.added"], 'coerce').dropna().astype(int)

In [68]:
#df[df.isna()]

In [69]:
sample_incomplete_rows = df[df.isnull().any(axis=1)] #.head()
sample_incomplete_rows

,location.latitude,location.longitude,Station_Prox,Price,bedrooms,bathrooms,analyticsProperty.imageCount,analyticsProperty.added
ids,,,,,,,,
74044017,51.0,-0.113691,0.8,375000.0,2.0,1.0,NaN,NaN
116414327,51.0,-0.052261,0.6,375000.0,3.0,NaN,19.0,20211116.0
85548873,51.0,0.088165,0.6,190000.0,3.0,NaN,8.0,20220609.0
118933820,51.0,0.050910,0.3,190000.0,1.0,NaN,6.0,20220119.0
117078506,51.0,0.026980,0.0,158750.0,3.0,NaN,10.0,20211130.0
...,...,...,...,...,...,...,...,...
96621550,51.0,-0.172881,0.3,650000.0,3.0,2.0,NaN,NaN
96626284,51.0,-0.178077,0.4,100000.0,NaN,NaN,8.0,20220530.0
96627133,51.0,-0.152604,0.2,475000.0,3.0,NaN,14.0,20220530.0
96627367,51.0,-0.220618,0.6,899950.0,3.0,NaN,14.0,20220530.0
96651661,51.0,-0.233372,0.9,300000.0,5.0,NaN,9.0,20220530.0

In [70]:
median_bathroom = df['bathrooms'].median()
print(median_bathroom)

df['bathrooms'].fillna(median_bathroom, inplace=True)

sample_incomplete_rows = df[df.isnull().any(axis=1)] #.head()
sample_incomplete_rows

1.0

/tmp/ipykernel_6752/1016379938.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['bathrooms'].fillna(median_bathroom, inplace=True)

,location.latitude,location.longitude,Station_Prox,Price,bedrooms,bathrooms,analyticsProperty.imageCount,analyticsProperty.added
ids,,,,,,,,
74044017,51.0,-0.113691,0.8,375000.0,2.0,1.0,NaN,NaN
119396255,51.0,0.098340,0.7,170000.0,NaN,1.0,9.0,20220201.0
96623749,51.0,0.072798,0.1,375000.0,NaN,1.0,12.0,20220530.0
119736068,51.0,-0.146570,0.1,380000.0,NaN,1.0,10.0,20220209.0
124210982,51.0,-0.073600,0.3,425000.0,3.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...
85513170,51.0,-0.247006,0.6,45000.0,NaN,1.0,2.0,20220608.0
85674210,NaN,51.400508,0.3,550000.0,NaN,1.0,6.0,20220614.0
96576061,NaN,51.363727,0.4,3000.0,NaN,1.0,3.0,20220519.0
96621550,51.0,-0.172881,0.3,650000.0,3.0,2.0,NaN,NaN
96626284,51.0,-0.178077,0.4,100000.0,NaN,1.0,8.0,20220530.0

In [71]:
median_bedrooms = df['bedrooms'].median()
print(median_bedrooms)

df['bedrooms'].fillna(median_bedrooms, inplace=True)

sample_incomplete_rows = df[df.isnull().any(axis=1)] #.head()
sample_incomplete_rows

2.0

/tmp/ipykernel_6752/4207204691.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['bedrooms'].fillna(median_bedrooms, inplace=True)

,location.latitude,location.longitude,Station_Prox,Price,bedrooms,bathrooms,analyticsProperty.imageCount,analyticsProperty.added
ids,,,,,,,,
74044017,51.0,-0.113691,0.8,375000.0,2.0,1.0,NaN,NaN
124210982,51.0,-0.073600,0.3,425000.0,3.0,1.0,NaN,NaN
63921069,51.0,-0.299760,0.1,NaN,2.0,2.0,10.0,20190724.0
96595405,51.0,-0.319919,0.1,499950.0,2.0,1.0,NaN,NaN
118871876,51.0,-0.338532,0.4,499950.0,2.0,1.0,NaN,NaN
122247488,51.0,-0.306608,0.1,399950.0,2.0,1.0,NaN,NaN
85407393,0.0,0.000000,0.4,399950.0,3.0,2.0,NaN,NaN
96574858,51.0,0.032710,0.5,NaN,3.0,1.0,14.0,20220519.0
118825013,51.0,0.037298,0.5,NaN,2.0,1.0,18.0,20220117.0
82165626,51.0,0.021131,0.2,NaN,2.0,2.0,19.0,20211021.0
106827140,51.0,0.039172,0.9,NaN,2.0,2.0,10.0,20210513.0
96574750,51.0,0.012470,0.3,NaN,2.0,2.0,13.0,20220519.0
115507298,51.0,0.025303,0.3,NaN,2.0,1.0,14.0,20211028.0
115507244,51.0,0.025179,0.3,NaN,2.0,2.0,14.0,20211028.0
122706701,51.0,-0.001323,0.3,NaN,1.0,1.0,13.0,20220422.0
111106427,51.0,0.014527,0.2,NaN,1.0,1.0,8.0,20210728.0
120375476,51.0,0.010339,0.3,NaN,1.0,1.0,13.0,20220225.0
114904994,51.0,0.057963,1.4,260000.0,2.0,1.0,NaN,NaN
83605776,51.0,0.019088,0.1,NaN,1.0,1.0,13.0,20220127.0
121796048,51.0,0.007611,0.6,NaN,1.0,1.0,14.0,20220331.0
123292304,51.0,0.017632,0.1,NaN,2.0,1.0,12.0,20220512.0
85354197,51.0,0.091910,0.5,425000.0,3.0,1.0,NaN,NaN
84898671,51.0,0.082295,0.3,350000.0,2.0,1.0,NaN,NaN
115818644,51.0,0.139640,1.2,250000.0,2.0,1.0,NaN,NaN
97893989,51.0,-0.093722,0.2,895000.0,1.0,1.0,NaN,NaN
119469575,51.0,-0.106408,0.5,220000.0,1.0,1.0,NaN,NaN
120153674,51.0,-0.112780,0.4,220000.0,1.0,1.0,NaN,NaN
123777377,51.0,-0.258334,0.3,450000.0,2.0,1.0,NaN,NaN
113752073,51.0,-0.195000,0.4,450000.0,2.0,1.0,NaN,NaN
108476417,51.0,-0.150440,0.2,230000.0,2.0,1.0,NaN,NaN
109078397,51.0,-0.082210,0.0,NaN,2.0,2.0,2.0,20210618.0
111247943,NaN,NaN,0.3,290000.0,3.0,1.0,15.0,20210731.0
118568108,51.0,-0.242500,0.2,415000.0,2.0,2.0,NaN,NaN
118961033,51.0,-0.107893,0.2,1100000.0,1.0,1.0,NaN,NaN
121284314,NaN,NaN,0.5,600000.0,3.0,1.0,17.0,20220319.0
121699175,51.0,-0.217178,0.5,NaN,4.0,2.0,23.0,20220329.0
122172239,NaN,NaN,0.4,185000.0,2.0,1.0,14.0,20220408.0
123350480,51.0,-0.246138,0.6,335000.0,2.0,1.0,NaN,NaN
123914636,51.0,-0.202250,0.5,NaN,4.0,3.0,18.0,20220615.0
123928922,51.0,-0.202250,0.5,NaN,3.0,1.0,18.0,20220615.0
123932027,51.0,-0.202250,0.5,NaN,1.0,1.0,18.0,20220615.0
123932399,51.0,-0.202250,0.5,NaN,2.0,1.0,18.0,20220615.0
123932627,51.0,-0.202250,0.5,NaN,2.0,1.0,18.0,20220615.0
85388217,NaN,51.432040,0.3,50000.0,2.0,1.0,3.0,20220531.0
85674210,NaN,51.400508,0.3,550000.0,2.0,1.0,6.0,20220614.0
96576061,NaN,51.363727,0.4,3000.0,2.0,1.0,3.0,20220519.0
96621550,51.0,-0.172881,0.3,650000.0,3.0,2.0,NaN,NaN

In [72]:
median_imageCount = df['analyticsProperty.imageCount'].median()
print(median_imageCount)

df['analyticsProperty.imageCount'].fillna(median_imageCount, inplace=True)

sample_incomplete_rows = df[df.isnull().any(axis=1)] #.head()
sample_incomplete_rows

11.0

/tmp/ipykernel_6752/3422759207.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['analyticsProperty.imageCount'].fillna(median_imageCount, inplace=True)

,location.latitude,location.longitude,Station_Prox,Price,bedrooms,bathrooms,analyticsProperty.imageCount,analyticsProperty.added
ids,,,,,,,,
74044017,51.0,-0.113691,0.8,375000.0,2.0,1.0,11.0,NaN
124210982,51.0,-0.073600,0.3,425000.0,3.0,1.0,11.0,NaN
63921069,51.0,-0.299760,0.1,NaN,2.0,2.0,10.0,20190724.0
96595405,51.0,-0.319919,0.1,499950.0,2.0,1.0,11.0,NaN
118871876,51.0,-0.338532,0.4,499950.0,2.0,1.0,11.0,NaN
122247488,51.0,-0.306608,0.1,399950.0,2.0,1.0,11.0,NaN
85407393,0.0,0.000000,0.4,399950.0,3.0,2.0,11.0,NaN
96574858,51.0,0.032710,0.5,NaN,3.0,1.0,14.0,20220519.0
118825013,51.0,0.037298,0.5,NaN,2.0,1.0,18.0,20220117.0
82165626,51.0,0.021131,0.2,NaN,2.0,2.0,19.0,20211021.0
106827140,51.0,0.039172,0.9,NaN,2.0,2.0,10.0,20210513.0
96574750,51.0,0.012470,0.3,NaN,2.0,2.0,13.0,20220519.0
115507298,51.0,0.025303,0.3,NaN,2.0,1.0,14.0,20211028.0
115507244,51.0,0.025179,0.3,NaN,2.0,2.0,14.0,20211028.0
122706701,51.0,-0.001323,0.3,NaN,1.0,1.0,13.0,20220422.0
111106427,51.0,0.014527,0.2,NaN,1.0,1.0,8.0,20210728.0
120375476,51.0,0.010339,0.3,NaN,1.0,1.0,13.0,20220225.0
114904994,51.0,0.057963,1.4,260000.0,2.0,1.0,11.0,NaN
83605776,51.0,0.019088,0.1,NaN,1.0,1.0,13.0,20220127.0
121796048,51.0,0.007611,0.6,NaN,1.0,1.0,14.0,20220331.0
123292304,51.0,0.017632,0.1,NaN,2.0,1.0,12.0,20220512.0
85354197,51.0,0.091910,0.5,425000.0,3.0,1.0,11.0,NaN
84898671,51.0,0.082295,0.3,350000.0,2.0,1.0,11.0,NaN
115818644,51.0,0.139640,1.2,250000.0,2.0,1.0,11.0,NaN
97893989,51.0,-0.093722,0.2,895000.0,1.0,1.0,11.0,NaN
119469575,51.0,-0.106408,0.5,220000.0,1.0,1.0,11.0,NaN
120153674,51.0,-0.112780,0.4,220000.0,1.0,1.0,11.0,NaN
123777377,51.0,-0.258334,0.3,450000.0,2.0,1.0,11.0,NaN
113752073,51.0,-0.195000,0.4,450000.0,2.0,1.0,11.0,NaN
108476417,51.0,-0.150440,0.2,230000.0,2.0,1.0,11.0,NaN
109078397,51.0,-0.082210,0.0,NaN,2.0,2.0,2.0,20210618.0
111247943,NaN,NaN,0.3,290000.0,3.0,1.0,15.0,20210731.0
118568108,51.0,-0.242500,0.2,415000.0,2.0,2.0,11.0,NaN
118961033,51.0,-0.107893,0.2,1100000.0,1.0,1.0,11.0,NaN
121284314,NaN,NaN,0.5,600000.0,3.0,1.0,17.0,20220319.0
121699175,51.0,-0.217178,0.5,NaN,4.0,2.0,23.0,20220329.0
122172239,NaN,NaN,0.4,185000.0,2.0,1.0,14.0,20220408.0
123350480,51.0,-0.246138,0.6,335000.0,2.0,1.0,11.0,NaN
123914636,51.0,-0.202250,0.5,NaN,4.0,3.0,18.0,20220615.0
123928922,51.0,-0.202250,0.5,NaN,3.0,1.0,18.0,20220615.0
123932027,51.0,-0.202250,0.5,NaN,1.0,1.0,18.0,20220615.0
123932399,51.0,-0.202250,0.5,NaN,2.0,1.0,18.0,20220615.0
123932627,51.0,-0.202250,0.5,NaN,2.0,1.0,18.0,20220615.0
85388217,NaN,51.432040,0.3,50000.0,2.0,1.0,3.0,20220531.0
85674210,NaN,51.400508,0.3,550000.0,2.0,1.0,6.0,20220614.0
96576061,NaN,51.363727,0.4,3000.0,2.0,1.0,3.0,20220519.0
96621550,51.0,-0.172881,0.3,650000.0,3.0,2.0,11.0,NaN

In [48]:
median_added = df['analyticsProperty.added'].median()
print(median_added)

df['analyticsProperty.added'].fillna(median_added, inplace=True)

sample_incomplete_rows = df[df.isnull().any(axis=1)] #.head()
sample_incomplete_rows

20220407.0

/tmp/ipykernel_6752/818668009.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['analyticsProperty.added'].fillna(median_added, inplace=True)

,location.latitude,location.longitude,Station_Prox,Price,bedrooms,bathrooms,analyticsProperty.imageCount,analyticsProperty.added
ids,,,,,,,,
63921069,51.0,-0.299760,0.1,NaN,2.0,2.0,10.0,20190724.0
96574858,51.0,0.032710,0.5,NaN,3.0,1.0,14.0,20220519.0
118825013,51.0,0.037298,0.5,NaN,2.0,1.0,18.0,20220117.0
82165626,51.0,0.021131,0.2,NaN,2.0,2.0,19.0,20211021.0
106827140,51.0,0.039172,0.9,NaN,2.0,2.0,10.0,20210513.0
96574750,51.0,0.012470,0.3,NaN,2.0,2.0,13.0,20220519.0
115507298,51.0,0.025303,0.3,NaN,2.0,1.0,14.0,20211028.0
115507244,51.0,0.025179,0.3,NaN,2.0,2.0,14.0,20211028.0
122706701,51.0,-0.001323,0.3,NaN,1.0,1.0,13.0,20220422.0
111106427,51.0,0.014527,0.2,NaN,1.0,1.0,8.0,20210728.0
120375476,51.0,0.010339,0.3,NaN,1.0,1.0,13.0,20220225.0
83605776,51.0,0.019088,0.1,NaN,1.0,1.0,13.0,20220127.0
121796048,51.0,0.007611,0.6,NaN,1.0,1.0,14.0,20220331.0
123292304,51.0,0.017632,0.1,NaN,2.0,1.0,12.0,20220512.0
109078397,51.0,-0.082210,0.0,NaN,2.0,2.0,2.0,20210618.0
111247943,NaN,NaN,0.3,290000.0,3.0,1.0,15.0,20210731.0
121284314,NaN,NaN,0.5,600000.0,3.0,1.0,17.0,20220319.0
121699175,51.0,-0.217178,0.5,NaN,4.0,2.0,23.0,20220329.0
122172239,NaN,NaN,0.4,185000.0,2.0,1.0,14.0,20220408.0
123914636,51.0,-0.202250,0.5,NaN,4.0,3.0,18.0,20220615.0
123928922,51.0,-0.202250,0.5,NaN,3.0,1.0,18.0,20220615.0
123932027,51.0,-0.202250,0.5,NaN,1.0,1.0,18.0,20220615.0
123932399,51.0,-0.202250,0.5,NaN,2.0,1.0,18.0,20220615.0
123932627,51.0,-0.202250,0.5,NaN,2.0,1.0,18.0,20220615.0
85388217,NaN,51.432040,0.3,50000.0,2.0,1.0,3.0,20220531.0
85674210,NaN,51.400508,0.3,550000.0,2.0,1.0,6.0,20220614.0
96576061,NaN,51.363727,0.4,3000.0,2.0,1.0,3.0,20220519.0

In [77]:
#df = df['Price'].dropna()
#sample_incomplete_rows = df[df.isnull().any(axis=1)].copy() #.head()
#sample_incomplete_rows
df = df.dropna(subset="Price")
df = df.dropna(subset=["analyticsProperty.added",'location.latitude','location.longitude'])

sample_incomplete_rows = df[df.isnull().any(axis=1)] #.head()
sample_incomplete_rows

Empty DataFrame
Columns: [location.latitude, location.longitude, Station_Prox, Price, bedrooms, bathrooms, analyticsProperty.imageCount, analyticsProperty.added]
Index: []

In [78]:
y = df['Price']
X = df.drop(['Price'],axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [79]:
tree_reg = DecisionTreeRegressor(max_depth=4)
#tree_reg.fit(X, y)
tree_reg.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=4)

In [80]:
from sklearn.tree import export_graphviz

In [83]:
export_graphviz(tree_reg,
                out_file="property_price-07.dot",
                feature_names=X.columns,
                class_names='Price',
                rounded=True,
                filled=True)

# dot -Tpng property_price-07.dot -o property_price-07.png
# dot -Tpng scrape_site/53_semi_basic_modelling/property_price-07.dot -o scrape_site/53_semi_basic_modelling/property_price-07.png

In [ ]:
tree_reg.score(X,y)

In [ ]:
print(tree_reg.feature_names_in_)
print(tree_reg.feature_importances_)
pd.DataFrame(tree_reg.feature_importances_,tree_reg.feature_names_in_)

In [ ]:
sorted(zip(tree_reg.feature_importances_,tree_reg.feature_names_in_),reverse=True)

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
import numpy as np

from sklearn.model_selection import cross_val_score

scores = cross_val_score(tree_reg, X, y,
                         scoring="neg_mean_squared_error", cv=10)
tree_rmse_scores = np.sqrt(-scores)

def display_scores(scores):
    print("Scores:", scores)
    print("Mean:", scores.mean())
    print("Standard deviation:", scores.std())

display_scores(tree_rmse_scores)